@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  color: var(--primary-color);
}
body {
  font-size: 16px;
  line-height: 24px;
}
:root {
  --primary-color: #234257;
  --secondary-color: #308d7c;
}
p{
  font-family: 'Work Sans', sans-serif !important;
}
.primary{
  color: var(--primary-color);
}
.secondary{
  color: var(--secondary-color);
}
nav {
  background-color: var(--primary-color);
}
.logo-nav {
  width: 100px;
}
.navbar-nav li {
  margin-right: 30px;
  position: relative;
  text-transform: uppercase;
  max-width: fit-content;
}
.navbar-nav li:last-child {
  margin-right: 0px;
}
.navbar-nav li:after,
.navbar-nav li:before {
  content: "";
  position: absolute;
  width: 0%;
  display: block;
  height: 1px;
  margin-top: 2px;
  transition: all 300ms ease-in;
}

.navbar-nav li:after {
  bottom: 10%;
  left: 0;
}

.navbar-nav li:before {
  top: 10%;
  right: 0;
}

.navbar-nav li:hover::after {
  width: 100%;
  height: 1px;
  bottom: 10%;
  background-color: #fff;
}

.navbar-nav li:hover::before {
  width: 100%;
  height: 1px;
  top: 10%;
  background-color: #fff;
}
.container-header{
  position: relative;
  height:calc(100vh - 65px);
  display: grid;
  place-items: center;
  margin-top: 65px;
  background-image: url(assets/5629407.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container-header h1 {
  font-size: 5rem;
  color: var(--primary-color);
}
.container-header p {
  font-size: 1.625rem;
}
.img-bg{
  position: absolute;
  display: block;
}
.img1{
  bottom: 0;
  left: -50px;
  z-index: -1;
}
.img2{
  right: 0;
  top: 0;
  z-index: -2;
}
.img-doctor{
  width: 100%;
}
@media (max-width:991px) {
  .element1{
    order: 2;
  }
  .element2{
    order: 1;
  }
  .container-header h1 {
    font-size: 3rem;
  }
  .container-header p {
    font-size: 1rem;
  }
  .img-doctor{
    width: 100%;
  }
}