* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
:root {
  --main-color: #234257;
}
nav {
  background-color: var(--main-color);
}
.logo-nav {
  width: 100px;
}
.navbar-nav li {
  margin-right: 30px;
  position: relative;
  text-transform: uppercase;
}
.navbar-nav li:last-child {
  margin-right: 0px;
}
.navbar-nav li:after,
.navbar-nav li:before {
  content: "";
  position: absolute;
  width: 0%;
  display: block;
  height: 1px;
  margin-top: 2px;
  transition: all 300ms ease-in;
}

.navbar-nav li:after {
  bottom: 10%;
  left: 0;
}

.navbar-nav li:before {
  top: 10%;
  right: 0;
}

.navbar-nav li:hover::after {
  width: 100%;
  height: 1px;
  bottom: 10%;
  background-color: #fff;
}

.navbar-nav li:hover::before {
  width: 100%;
  height: 1px;
  top: 10%;
  background-color: #fff;
}
.container-header {
  position: relative;
}
.img-waves {
  position: absolute;
  z-index: -1;
}
.container-header h1 {
  font-size: 50px;
}
.container-header p {
  font-size: 20px;
}
.container-header .container{
  padding-top: 120px;
}
.img-header{
  filter: drop-shadow(0px 0px 5px #222);
}
